.navbar{
    outline-style:solid;
    outline-color: purple;
    margin-bottom: 10px;
}

.navbar-brand img{
  width: 75px;
  height: 75px;
}

.navbar-item{
  color:white;
  margin: 10px;
}

a:hover{
  color: red;
}

.navbar-item-twitch{
  color:purple;
  margin: 10px;
}
