.navbar{
    outline-style:solid;
    outline-color: purple;
    margin-bottom: 10px;
}

.navbar-brand h3{
  color:blue;
  margin: 10px;
}

.navbar-item{
  color:black;
  margin: 10px;
}

a:hover{
  color: white;
}

.navbar-item-twitch{
  color:purple;
  margin: 10px;
}
